parameters:
    database_host: docker_db_1
    database_port: null
    database_name: mprod_s34_base
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: correo.gmail
    mailer_user: base@gmail.com
    mailer_password: cambiar
    secret: ThisTokenIsNotSoSecretChangeIt
    app_title: 'Symfony 3.4 Base'