{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
<div class="row mt-5">
    <div class="col-lg-12">
        <h4>Registraci&oacute;n de nuevo usuario</h4>
    </div>
    <div class="col-lg-12">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            <p>Puede ingresar al sistema desde este <a href="{{ path('fos_user_security_login') }}">Link</a></p>
            {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
    </div>
</div>
{% endblock fos_user_content %}