body {
  font-family: "Montserrat";
  font-size: 0.85rem;
}

.navbar-brand {
  margin: 0;
}

.navbar-header img.logo-default {
  max-height: 40px;
}

.navbar {
  background-color: #f7f7f7;
}

.navbar-static-top {
    margin-bottom: 0px;
}

.navbar-static-top .container {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navbar-static-top .container .navbar-right {
    margin-left: auto !important;
}

.navbar.navbar-menu {
  background: linear-gradient(90deg,rgba(47,71,147,1) 0%,rgba(116,203,243,1) 100%)!important;
  color: #fff;
}

.navbar.navbar-menu .nav-item {
  text-transform: uppercase;
  margin-right: 20px;
}

.navbar.navbar-menu .nav-item a {
  color: #fff;
  font-size: 0.75rem;
  border-radius: 2px;
}

.navbar.navbar-menu .nav-item a:hover {
    background-color: #efefef;
    color: #0875bc;
    font-weight: 700;
}

.dropdown-menu {
    background: #0875bc;
    padding: 2px;
}

h4 {
  text-transform: uppercase;
}

footer {
    background: linear-gradient(90deg,rgba(47,71,147,1) 0%,rgba(116,203,243,1) 100%)!important;
    color: #fff;
}

.table-responsive {
  display: table;
}
.producto-imagen img {
  max-height: 50px;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Buscar";
}

.btn-primary {
    color: #fff;
    background-color: #0875bc;
    border-color: #0875bc;
}
.btn-primary:hover {
    background-color: #0875bc;
    border-color: #0875bc;
    opacity: 0.8;
}

.form-control { 
    font-size: 0.85rem;
}
.btn {
    font-size: 0.85rem;
    border-radius: 2px;
}

.help-block {
    color: red;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.03);
}


/* DataTable pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #0875bc;
    background: #0875bc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    outline: none;
    border: 1px solid #0875bc;
    background: #0875bc;
    opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .navbar-header {
    margin: 0 auto;
  }
}
